@page
@using global::Discord
@model IndexModel
@{
    ViewData["Title"] = "Toby's Bot";
}

<h1 class="display-4">Hey!</h1>

<p>You've reached the homepage for my discord bot! Besides a range of random stuff (including a literal random number generator), Toby's Bot also has a suite of features for playing music and audio from YouTube, Spotify, Soundcloud and more. To get started, use the big button to invite the bot to a server, or read on for more information. Make sure you check out some of my other projects over at <a href="https://tobymeehan.com">tobymeehan.com</a></p>

<button class="btn btn-primary">Add to Server</button>

<div class="text-center">
    
    @switch (Model.ConnectionState)
    {
        case ConnectionState.Disconnected:
            <h1 class="display-4">
                <span class="circle" style="background-color: red"></span>
                Offline
            </h1>
            
            break;
        case ConnectionState.Connecting:
            <h1 class="display-4">
                <span class="circle" style="background-color: orange"></span>
                Connecting
            </h1>
            
            break;
        case ConnectionState.Connected:
            <h1 class="display-4">
                <span class="circle" style="background-color: green"></span>
                Online
            </h1>
            
            <p>Toby's bot is online!</p>
            
            break;
        case ConnectionState.Disconnecting:
            <h1 class="display-4">
                <span class="circle" style="background-color: orange"></span>
                Disconnecting
            </h1>
            
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
</div>
